on fs
	mkdir /modem_fw
	wait /dev/block/platform/hi_mci.0/by-name/modem_fw
	mount ext4 /dev/block/platform/hi_mci.0/by-name/modem_fw /modem_fw ro context=u:object_r:modem_fw_file:s0
	modem_fs_chk
	chown radio radio sys/devices/platform/balong_power/state
	

on post-fs-data
	start pmom
service pmom /system/bin/pmom_cat -i /dev/pmom -e s -r 10240 -z 3 -n 1 -f /data/android_logs/pmom-log
	class late_start
	user root
	group system
	disabled
	seclabel u:r:hisilogcat:s0
